<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="110.0.30" targetFramework="net452" />
  <package id="cef.redist.x86" version="110.0.30" targetFramework="net452" />
  <package id="CefSharp.Common" version="110.0.300" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="110.0.300" targetFramework="net452" />
  <package id="MoreLinq.Source.MoreEnumerable.MaxBy" version="1.0.2" targetFramework="net452" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>